USE [master]
GO
/****** Object:  Database [PawHouseProjectHasData]    Script Date: 3/26/2025 10:32:07 PM ******/
CREATE DATABASE [PawHouseProjectHasData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PawHouseProjectHasData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PawHouseProjectHasData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PawHouseProjectHasData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PawHouseProjectHasData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PawHouseProjectHasData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PawHouseProjectHasData]
GO
/****** Object:  Table [dbo].[AdoptionHistory]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdoptionHistory](
	[AdoptionID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[AdoptionDate] [datetime] NULL,
	[AdoptionStatus] [nvarchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdoptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[StaffID] [int] NULL,
	[DoctorID] [int] NULL,
	[PetID] [int] NULL,
	[ServiceID] [int] NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[BookingDate] [datetime] NULL,
	[AppointmentStatus] [nvarchar](20) NULL,
	[Notes] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Diagnosis] [nvarchar](500) NULL,
	[Treatment] [nvarchar](500) NULL,
	[Prescription] [nvarchar](500) NULL,
	[VaccinationDetails] [nvarchar](500) NULL,
	[NextVaccinationDate] [datetime] NULL,
	[Weight] [decimal](5, 2) NULL,
	[Temperature] [decimal](4, 1) NULL,
	[Notes] [nvarchar](1000) NULL,
	[RecordDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[OrderStatus] [nvarchar](20) NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[AppointmentID] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PetCategories]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PetCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PetName] [nvarchar](50) NULL,
	[Species] [nvarchar](50) NULL,
	[Breed] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](10) NULL,
	[PetImage] [nvarchar](255) NULL,
	[AdoptionStatus] [nvarchar](20) NULL,
	[UserID] [int] NULL,
	[InUseService] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductComment]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductComment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Star] [int] NULL,
	[Content] [nvarchar](500) NULL,
	[Date_Comment] [datetime] NULL,
	[Image] [nvarchar](255) NULL,
	[ProductCommentStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NULL,
	[ProductImage] [nvarchar](255) NULL,
	[ProductStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Type] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[ServiceImage] [nvarchar](255) NULL,
	[ServiceStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/26/2025 10:32:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserStatus] [bit] NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdoptionHistory] ON 

INSERT [dbo].[AdoptionHistory] ([AdoptionID], [PetID], [AdoptionDate], [AdoptionStatus], [Notes]) VALUES (1, 2, CAST(N'2024-01-15T00:00:00.000' AS DateTime), N'Hoàn thành', N'Chủ mới rất yêu thương và chăm sóc Whiskers.')
INSERT [dbo].[AdoptionHistory] ([AdoptionID], [PetID], [AdoptionDate], [AdoptionStatus], [Notes]) VALUES (2, 5, CAST(N'2023-12-20T00:00:00.000' AS DateTime), N'Hoàn thành', N'Milo đã thích nghi tốt với môi trường mới.')
INSERT [dbo].[AdoptionHistory] ([AdoptionID], [PetID], [AdoptionDate], [AdoptionStatus], [Notes]) VALUES (3, 7, CAST(N'2024-02-05T00:00:00.000' AS DateTime), N'Hoàn thành', N'Rocky đã được chủ mới huấn luyện cơ bản.')
SET IDENTITY_INSERT [dbo].[AdoptionHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [StaffID], [DoctorID], [PetID], [ServiceID], [AppointmentDate], [BookingDate], [AppointmentStatus], [Notes], [Price]) VALUES (1, 24, 2, NULL, 19, 9, CAST(N'2025-03-15T14:00:00.000' AS DateTime), CAST(N'2025-04-03T15:00:00.000' AS DateTime), N'', NULL, CAST(300000.00 AS Decimal(10, 2)))
INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [StaffID], [DoctorID], [PetID], [ServiceID], [AppointmentDate], [BookingDate], [AppointmentStatus], [Notes], [Price]) VALUES (2, 25, NULL, 7, 22, 17, CAST(N'2025-02-16T08:36:00.000' AS DateTime), CAST(N'2025-03-15T14:00:00.000' AS DateTime), N'0', NULL, CAST(500000.00 AS Decimal(10, 2)))
INSERT [dbo].[Appointments] ([AppointmentID], [CustomerID], [StaffID], [DoctorID], [PetID], [ServiceID], [AppointmentDate], [BookingDate], [AppointmentStatus], [Notes], [Price]) VALUES (3, 27, NULL, 8, 25, 18, CAST(N'2025-02-25T18:30:00.000' AS DateTime), CAST(N'2025-03-14T11:00:00.000' AS DateTime), N'0', NULL, CAST(400000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedDate]) VALUES (1, 12, 1, 2, CAST(N'2025-03-15T10:00:00.000' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedDate]) VALUES (2, 14, 7, 1, CAST(N'2025-03-15T12:00:00.000' AS DateTime))
INSERT [dbo].[Cart] ([CartID], [UserID], [ProductID], [Quantity], [AddedDate]) VALUES (3, 16, 19, 3, CAST(N'2025-03-15T14:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([RecordID], [PetID], [AppointmentID], [DoctorID], [Diagnosis], [Treatment], [Prescription], [VaccinationDetails], [NextVaccinationDate], [Weight], [Temperature], [Notes], [RecordDate]) VALUES (1, 25, 3, 8, N'Viêm da nhẹ', N'Bôi thuốc ngoài da', N'Kem bôi Betadine', NULL, NULL, CAST(5.50 AS Decimal(5, 2)), CAST(38.5 AS Decimal(4, 1)), N'Tránh tắm bằng sữa tắm người hoặc xà phòng mạnh, chỉ sử dụng dầu gội chuyên dụng cho thú cưng.', CAST(N'2025-03-14T11:30:00.000' AS DateTime))
INSERT [dbo].[MedicalRecords] ([RecordID], [PetID], [AppointmentID], [DoctorID], [Diagnosis], [Treatment], [Prescription], [VaccinationDetails], [NextVaccinationDate], [Weight], [Temperature], [Notes], [RecordDate]) VALUES (2, 22, 2, 7, N'Khỏe Mạnh', NULL, NULL, N'Tiêm phòng 7 bệnh cho chó', CAST(N'2025-06-15T14:05:00.000' AS DateTime), CAST(4.20 AS Decimal(5, 2)), CAST(39.0 AS Decimal(4, 1)), N'Cần theo dõi thêm', CAST(N'2025-03-15T14:05:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1, 2, CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 2, 7, 1, CAST(180000.00 AS Decimal(10, 2)))
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 3, 19, 3, CAST(90000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [OrderStatus], [Notes]) VALUES (1, 12, CAST(N'2025-03-15T11:00:00.000' AS DateTime), CAST(400000.00 AS Decimal(10, 2)), N'1', NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [OrderStatus], [Notes]) VALUES (2, 14, CAST(N'2025-03-15T13:00:00.000' AS DateTime), CAST(180000.00 AS Decimal(10, 2)), N'1', NULL)
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate], [TotalAmount], [OrderStatus], [Notes]) VALUES (3, 16, CAST(N'2025-03-15T15:00:00.000' AS DateTime), CAST(270000.00 AS Decimal(10, 2)), N'1', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [OrderID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [PaymentStatus]) VALUES (1, 2, NULL, CAST(180000.00 AS Decimal(10, 2)), CAST(N'2025-03-15T13:30:00.000' AS DateTime), N'Tiền mặt', N'1')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [PaymentStatus]) VALUES (2, NULL, 1, CAST(300000.00 AS Decimal(10, 2)), CAST(N'2025-03-15T14:00:00.000' AS DateTime), N'Chuyển khoản', N'1')
INSERT [dbo].[Payment] ([PaymentID], [OrderID], [AppointmentID], [Amount], [PaymentDate], [PaymentMethod], [PaymentStatus]) VALUES (3, 1, NULL, CAST(400000.00 AS Decimal(10, 2)), NULL, N'Tiền mặt', N'1')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PetCategories] ON 

INSERT [dbo].[PetCategories] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Chó', N'Một số giống phổ biến: Husky, Poodle, Corgi, Labrador, Golden Retriever.')
INSERT [dbo].[PetCategories] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Mèo', N'Một số giống phổ biến: Mèo Anh lông ngắn, Mèo Ba Tư, Mèo Maine Coon, Mèo Scottish Fold, Mèo Bengal.')
INSERT [dbo].[PetCategories] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Bò sát', N'Nhóm động vật gồm rắn, rùa, thằn lằn, thường có da vảy và máu lạnh.')
SET IDENTITY_INSERT [dbo].[PetCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([PetID], [CategoryID], [PetName], [Species], [Breed], [Age], [Gender], [PetImage], [AdoptionStatus], [UserID], [InUseService]) VALUES (1, 1, N'Buddy', N'Chó', N'Golden Retriever', 3, N'Đực', N'imgs/pet/pet1.jpg', N'Đang chờ duyệt', 21, NULL)
INSERT [dbo].[Pets] ([PetID], [CategoryID], [PetName], [Species], [Breed], [Age], [Gender], [PetImage], [AdoptionStatus], [UserID], [InUseService]) VALUES (2, 2, N'Whiskers', N'Mèo', N'Maine Coon', 3, N'Cái', N'imgs/pet/pet2.jpg', N'Đã nhận nuôi', 12, NULL)
INSERT [dbo].[Pets] ([PetID], [CategoryID], [PetName], [Species], [Breed], [Age], [Gender], [PetImage], [AdoptionStatus], [UserID], [InUseService]) VALUES (3, 1, N'Charlie', N'Chó', N'Bulldog', 4, N'Đực', N'imgs/pet/pet3.jpg', N'Đã nhận nuôi', 32, NULL)
SET IDENTITY_INSERT [dbo].[Pets] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (1, N'Thức ăn cho chó', N'Các loại thức ăn dinh dưỡng dành cho chó ở mọi độ tuổi.', N'Thức Ăn')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (2, N'Thức ăn cho mèo', N'Thức ăn dành cho mèo với nhiều hương vị và chất dinh dưỡng.', N'Thức Ăn')
INSERT [dbo].[ProductCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (3, N'Thức ăn cho bò sát', N'Thức ăn chuyên dụng cho các loài bò sát như rùa, thằn lằn, rắn.', N'Thức Ăn')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductComment] ON 

INSERT [dbo].[ProductComment] ([CommentID], [UserID], [ProductID], [Star], [Content], [Date_Comment], [Image], [ProductCommentStatus]) VALUES (2, 12, 1, 5, N'Thức ăn hạt rất tốt, chó nhà mình rất thích.', CAST(N'2024-02-01T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[ProductComment] ([CommentID], [UserID], [ProductID], [Star], [Content], [Date_Comment], [Image], [ProductCommentStatus]) VALUES (3, 12, 2, 4, N'Pate thơm ngon nhưng hơi đắt.', CAST(N'2024-02-03T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[ProductComment] ([CommentID], [UserID], [ProductID], [Star], [Content], [Date_Comment], [Image], [ProductCommentStatus]) VALUES (4, 13, 3, 5, N'Xương gặm giúp chó sạch răng, rất hữu ích.', CAST(N'2024-01-25T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductComment] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Stock], [ProductImage], [ProductStatus]) VALUES (1, 1, N'Thức ăn hạt cao cấp', N'Thức ăn hạt cho chó con và chó trưởng thành, giàu dinh dưỡng.', CAST(200000.00 AS Decimal(10, 2)), 44, N'imgs/product/product1.jpg', 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Stock], [ProductImage], [ProductStatus]) VALUES (2, 1, N'Pate cho chó', N'Pate mềm dành cho chó nhỏ và chó lớn, giúp dễ tiêu hóa.', CAST(150000.00 AS Decimal(10, 2)), 40, N'imgs/product/product2.jpg', 1)
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Description], [Price], [Stock], [ProductImage], [ProductStatus]) VALUES (3, 1, N'Xương gặm dinh dưỡng', N'Xương gặm giúp làm sạch răng và bổ sung canxi.', CAST(100000.00 AS Decimal(10, 2)), 59, N'imgs/product/product3.png', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Customer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Staff')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (1, N'Chăm sóc lông', N'Dịch vụ tắm, cắt tỉa lông, tạo kiểu cho thú cưng.', N'Spa & Grooming')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (2, N'Vệ sinh', N'Vệ sinh tai, cắt móng, làm sạch tuyến hôi cho thú cưng.', N'Spa & Grooming')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName], [Description], [Type]) VALUES (3, N'Huấn luyện', N'Đào tạo kỹ năng cơ bản và nâng cao cho chó, mèo.', N'Spa & Grooming')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [Description], [Price], [ServiceImage], [ServiceStatus]) VALUES (1, 1, N'Tắm thú cưng', N'Tắm bằng sữa tắm chuyên dụng giúp làm sạch và khử mùi.', CAST(150000.00 AS Decimal(10, 2)), N'imgs/service/service1.jpg', 1)
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [Description], [Price], [ServiceImage], [ServiceStatus]) VALUES (2, 1, N'Cắt tỉa lông', N'Tạo kiểu lông phù hợp với giống và sở thích của chủ.', CAST(200000.00 AS Decimal(10, 2)), N'imgs/service/service2.jpg', 1)
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [Description], [Price], [ServiceImage], [ServiceStatus]) VALUES (3, 1, N'Nhuộm lông', N'Sử dụng thuốc nhuộm an toàn, không gây kích ứng da.', CAST(250000.00 AS Decimal(10, 2)), N'imgs/service/service3.jpg', 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [RoleID], [Username], [Password], [Email], [FullName], [Phone], [Avatar], [UserStatus], [Address]) VALUES (1, 1, N'ThanhHung', N'E6E061838856BF47E1DE730719FB2609', N'PhanThanhHung@gmail.com', N'Phan Thành Hưng', N'0912345678', N'imgs/avatar/avatar1.jpg', 1, N'Ninh Kiều, Cần Thơ')
INSERT [dbo].[Users] ([UserID], [RoleID], [Username], [Password], [Email], [FullName], [Phone], [Avatar], [UserStatus], [Address]) VALUES (2, 3, N'ChanHung', N'29353F3B5EB749AE0AFB3D88B810F05C', N'ChanHung@gmail.com', N'Nguyễn Huỳnh Chấn Hưng', N'0923456781', N'imgs/avatar/avatar2.jpg', 1, N'Bình Thủy, Cần Thơ')
INSERT [dbo].[Users] ([UserID], [RoleID], [Username], [Password], [Email], [FullName], [Phone], [Avatar], [UserStatus], [Address]) VALUES (3, 3, N'HuyVo', N'29353F3B5EB749AE0AFB3D88B810F05C', N'ChanhHuy@gmail.com', N'Võ Chánh Huy', N'0923456782', NULL, 1, N'Cái Răng, Cần Thơ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4182A48A7]    Script Date: 3/26/2025 10:32:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4EF8ED41D]    Script Date: 3/26/2025 10:32:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534293886EB]    Script Date: 3/26/2025 10:32:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534DBEAF118]    Script Date: 3/26/2025 10:32:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdoptionHistory] ADD  DEFAULT (getdate()) FOR [AdoptionDate]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [AppointmentStatus]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[MedicalRecords] ADD  DEFAULT (getdate()) FOR [RecordDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Completed') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Pets] ADD  DEFAULT ('Available') FOR [AdoptionStatus]
GO
ALTER TABLE [dbo].[ProductComment] ADD  DEFAULT (getdate()) FOR [Date_Comment]
GO
ALTER TABLE [dbo].[ProductComment] ADD  DEFAULT ((1)) FOR [ProductCommentStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [ProductStatus]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [ServiceStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [UserStatus]
GO
ALTER TABLE [dbo].[AdoptionHistory]  WITH CHECK ADD  CONSTRAINT [FK_Adoption_Pet] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[AdoptionHistory] CHECK CONSTRAINT [FK_Adoption_Pet]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Customer]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Pet] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Pet]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Service]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointment_Staff]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Medical_Appointment]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Medical_Doctor]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Pet] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pets] ([PetID])
GO
ALTER TABLE [dbo].[MedicalRecords] CHECK CONSTRAINT [FK_Medical_Pet]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Appointment]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pet_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PetCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pet_Category]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pet_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pet_User]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductComment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ProductCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Service_Category]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD CHECK  (([Star]>=(1) AND [Star]<=(5)))
GO
ALTER TABLE [dbo].[ProductComment]  WITH CHECK ADD CHECK  (([Star]>=(1) AND [Star]<=(5)))
GO
USE [master]
GO
